4- Make a program to read two partial grades of a student.
- The message “Approved”, if the average achieved is greater than or equal to seven;
- The message “Approved with Distinction”, if the average is equal to ten;
- The message “Failed” if the average is less than seven;